
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

@import "~bulma/bulma.sass";


.brand {
  font-size: 25px;
  font-weight: bold;
}

.center-vertical {
  display: flex;
  align-items: center;
}

.color-picker {
  width: 20vw;
}

.workspace-icon {
  width: 64px;
  height: 64px;
  border: 1px solid;
  border-radius: 50%;
}

.set-box-heights {
  min-height: 115px;
  max-height: 115px;
}

.light-background {
  background: whitesmoke;
  color: #363636;
  min-height: calc(100vh - 3.25rem);
  padding: 20px;
}

.display-block {
  display: block
}

.no-display {
  display: none
}