
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

@import "~bulma/bulma.sass";


.brand {
  font-size: 25px;
  font-weight: bold;
}

.center-vertical {
  display: flex;
  align-items: center;
}

.color-picker {
  width: 20vw;
}
